html, body, ul, p{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

body{
	color: #656f77;
	background: #21ea7b;
	font-size: 16px;
	font-family: "BrutalLight";
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	min-height: 100vh;
}

.container{
	margin: 20px;
	padding: 25px 25px 25px 80px;
	background: white;
}

.header{
	display: block;
	margin: 0 0 40px 0;
}

.langs{
	text-align: right;
}

.langs__item{
	display: inline-block;
	text-transform: uppercase;
}

.langs__item:first-child{
	margin: 0 30px 0 0;
}

.langs__item-link{
	color: #656f77;
	font-family: "BrutalBold";
	font-size: 12px;
}

.langs__item-link:hover{
	color: #21ea7b;
}

.langs__item-link_active{
	color: #21ea7b;
}

.about{
	float: left;
	width: 45%;
	display: inline-block;
	margin: 0 50px 0 0;
	box-sizing: border-box;
	display: inline-block;
}

.about__photo-wrap{
	max-width: 700px;
	max-height: 500px;
	border: 2px solid #21ea7b;
	z-index: 2;
	margin: 0 0 50px 0;
}

.about__photo{
	display: block;
	// background: url(img/photo.jpg) no-repeat;
	// background-size: cover;
	width: 100%;
	height: 94%;
	margin: 15px 15px 15px -15px;
	z-index: -2;
}

.about__text{
	
}

.contacts{
	float: right;
	width: 45%;
	display: inline-block;
	box-sizing: border-box;
}

.contacts__name{
	font-size: 60px;
	margin: 0 0 100px 0;
}

.contacts__name_bold{
	font-family: "BrutalBold";
}

.socials{
	display: block;
	max-width: 650px;
	min-height: 300px;
}

.socials__item{
	display: inline-block;
	min-width: 250px;
	margin: 0 60px 60px 0;
}

.socials__item-wrap{
	display: inline-block;
}

.email-img{
	background: url(img/email.png);
}

.github-img{
	background: url(img/github.png);
}

.vk-img{
	background: url(img/vk.png);
}

.phone-img{
	background: url(img/phone.png);
}

.tw-img{
	background: url(img/tw.png);
}

.loc-img{
	background: url(img/loc.png);
}

.socials__item-img{
	background-size: cover;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 0 10px 0 0;
}

.socials__item-name{
	display: block;
	font-size: 14px;
}

.socials__item-text{
	display: block;
	font-family: "BrutalBold";
	font-size: 24px;
	color: #21ea7b;
}

.socials__item-text:hover{
	text-decoration: underline;
}